.search,
.search-results {
  width: 361px;
}

.search {
  position: relative;
  height: var(--search-height);
  display: flex;
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    font-family: var(--font-family);
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.5rem;
    caret-color: var(--primary);
    background-color: transparent;
    padding-right: 40px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.06);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  position: absolute;
  padding: 0;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.2);
}

.loading {
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.search-btn {
  width: var(--search-button-width);
  height: 100%;
  line-height: 1.5;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.06);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
    color: rgba(22, 24, 35, 0.5);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-title {
  margin: 0px;
  padding: 5px 12px;
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
}
